body {
    background: ghostwhite;
    padding: 0;
}

.ui-widget .ui-widget {
    font-size: 0.9em;
}

#topPanel .ui-layout-unit-content.ui-widget-content {
    background-color: #2F4E6F;
}

#topPanel .ui-grid {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: #cccccc;
    padding-top: 2px;
}

.ui-title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #cccccc;
}

#bottomPanel .ui-layout-unit-content.ui-widget-content {
    background-color: #2F4E6F;
}

.ui-layout-unit-content.ui-widget-content {
    background-color: ghostwhite;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #2F4E6F;
    padding: 0;
    margin: 0;
}

.ui-layout-unit {
    border-color: rgba(1,1,1,0);
    padding: 0;
}

.ui-layout-unit-header, .ui-layout-unit-footer {
    background: #2F4E6F;
    color: ghostwhite;
    padding: .4em .2em .4em .4em;
}

.ui-button-text-icon-left.ui-state-default {
    background: #F2BC00;
    color: #2F4E6F;
}

.ui-button-text-icon-left.ui-state-disabled {
    background: #CFD6DE;
    color: #7297BA;
}

.ui-fileupload-buttonbar {
    width: 500px;
    padding: .2em .4em;
    background: transparent;
    border: hidden;
    alignment: left;
}

.ui-fileupload-content {
    padding: .2em .4em;
    border-top-width: 0;
    background: transparent;
    border: hidden;
}

.ui-growl {
    top: 45%;
    right: 45%;
}

.options-menu {
    margin: 0%;
    width: 94%;
}

.ui-menu {
    background: linear-gradient(ghostwhite, #CFD6DE);
}

.ui-menu .ui-menu-list .ui-widget-header {
    background: linear-gradient(ghostwhite, #ADC1D6);
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon, .ui-menu .ui-submenu-icon {
    color: #2F4E6F;
    font-size: 0.6em;
    margin-right: 6px;
}

.pt-uploaded-table {
    width: 150px;
    height: 25%;
}

.ui-datatable tbody.ui-datatable-data {
    font-size: 0.9em;
}

.error {
    color: red;
    font-weight: bold;
}