body {
    background: ghostwhite;
    padding: 0;
}

.error {
    color: red;
    font-weight: bold;
}

.ui-widget .ui-widget {
    font-size: 0.9em;
}

#topPanel .ui-layout-unit-content.ui-widget-content {
    background-color: #2F4E6F;
}

#topPanel .ui-grid {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: #cccccc;
    padding-top: 2px;
}

.ui-title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #cccccc;
}

#bottomPanel .ui-layout-unit-content.ui-widget-content {
    background-color: #2F4E6F;
}

.ui-layout-unit-content.ui-widget-content {
    background-color: ghostwhite;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #2F4E6F;
    padding: 0;
    margin: 0;
}

.ui-layout-unit {
    border-color: rgba(1,1,1,0);
    padding: 0;
}

.ui-layout-unit-header, .ui-layout-unit-footer {
    background: #2F4E6F;
    color: ghostwhite;
    padding: .4em .2em .4em .4em;
}

.ui-button-text-icon-left.ui-state-default {
    background: #F2BC00;
    color: #2F4E6F;
}

.ui-button-text-icon-left.ui-state-disabled {
    background: #CFD6DE;
    color: #7297BA;
}

.ui-button-text-icon-left .ui-button-text {
    padding: .35em 1em .2em 2.1em;
}

#repMenu .ui-button-text-icon-left .ui-button-text {
    font-size: 0.9em;
}

#expMenu .ui-button-text-icon-left .ui-button-text {
    font-size: 0.9em;
}

.ui-fileupload-buttonbar {
    width: 500px;
    padding: .2em .4em;
    background: transparent;
    border: hidden;
    alignment: left;
}

.ui-fileupload-content {
    padding: .2em .4em;
    border-top-width: 0;
    background: transparent;
    border: hidden;
}

.ui-growl {
    top: 10%;
    right: 10%;
}

.options-menu {
    margin: 0%;
    width: 94%;
}

.ui-menu {
    background: linear-gradient(ghostwhite, #CFD6DE);
}

.ui-menu .ui-menu-list .ui-widget-header {
    background: linear-gradient(ghostwhite, #ADC1D6);
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon, .ui-menu .ui-submenu-icon {
    color: #2F4E6F;
    font-size: 0.6em;
    margin-right: 6px;
}

.pt-uploaded-table {
    width: 150px;
    height: 25%;
}

.pt-row-text-cell {
    float: left;
    text-align:start;
}

.ui-g {
    background: linear-gradient(to right, #7297BA , ghostwhite);
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-weight: bolder;
}

.pt-courtesy {
    padding-left: 40%;
    font-size: 0.5em;
    font-style: italic;
    width: 450px;
}

.ui-datatable tbody.ui-datatable-data {
    font-size: 0.9em;
}

.ui-treetable tbody td {
    border-color: inherit;
    font-size: 0.9em;
}

#setTypeGrid td {
    vertical-align: top;
}

.pt-drag-menu table tbody td {
    vertical-align: top;
    padding: 0px;
}

.pt-drag-menu .ui-datagrid-content {
    background: ghostwhite;
    color: ghostwhite;
    border: 0px solid;
}

.pt-drag-menu .ui-datagrid-data {
    width: 100%;
    border-spacing: 0px;
}

.pt-drag-menu tr.ui-datagrid-row {
    background:ghostwhite;
}

.pt-drag-menu .ui-fieldset .ui-fieldset-legend {
    background:linear-gradient(ghostwhite, #ADC1D6);
    width: 136px;
    height: 15px;
    font-size: 0.9em;
}

.pt-drag-menu .ui-panel .ui-panel-content {
    border: 0px;
    background: 0;
    padding: .0em .1em;
    text-align: left;
}

.pt-drag-menu .ui-fieldset {
    width: 170px !important;
    height: 250px !important;
    border: 1px solid #afacac;
    padding: 0px;
}

.pt-drag-menu .ui-datagrid-content-empty {
    height:0px;
    padding: 0px;
}

.pt-drag-menu-closable-icon {
    background: #F2BC00;
    float: right;
    height: 20px;
    width: 20px;
    padding: 0em 1.1em;
    margin: -0.22em;
}

.pt-label-option {
    font-size:0.9em;
    color: black;
    padding: 0.5em;
}

.pt-ext-button {
    width: 120px;
    text-align: left;
}

.pt-ext-button .ui-icon, .ui-button-text-icon-right .ui-icon {
    margin-left: 0.5em;
    font-size: 0.75em;
}

.pt-small-header {
    font-size: 1.1em;
    font-weight: bolder;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: linear-gradient(to right, ghostwhite,#CFD6DE,#7297BA,#CFD6DE,ghostwhite);
    color: white;
}

#expMenu .ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
    font-size: 0.9em;
}

.ui-paginator.ui-paginator-top {
    border-bottom: 0 none;
    visibility: collapse;
    height: 0px;
}

