body {
    background: ghostwhite;
    padding: 0;
}

.error {
    color: red;
    font-weight: bold;
}

.ui-widget .ui-widget {
    font-size: 0.9em;
}

#topPanel .ui-layout-unit-content.ui-widget-content {
    background-color: #2F4E6F;
}

#topPanel .ui-grid {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: #cccccc;
    padding-top: 2px;
}

.ui-title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #cccccc;
}

#bottomPanel .ui-layout-unit-content.ui-widget-content {
    background-color: #2F4E6F;
}

.ui-layout-unit-content.ui-widget-content {
    background-color: ghostwhite;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #2F4E6F;
    padding: 0;
    margin: 0;
}

.ui-layout-unit {
    border-color: rgba(1,1,1,0);
    padding: 0;
}

.ui-layout-unit-header, .ui-layout-unit-footer {
    background: #2F4E6F;
    color: ghostwhite;
    padding: .4em .2em .4em .4em;
}

.ui-button-text-icon-left.ui-state-default {
    background: #F2BC00;
    color: #2F4E6F;
}

.ui-button-text-icon-left.ui-state-disabled {
    background: #CFD6DE;
    color: #7297BA;
}

.ui-fileupload-buttonbar {
    width: 500px;
    padding: .2em .4em;
    background: transparent;
    border: hidden;
    alignment: left;
}

.ui-fileupload-content {
    padding: .2em .4em;
    border-top-width: 0;
    background: transparent;
    border: hidden;
}

.ui-growl {
    top: 10%;
    right: 10%;
}

.options-menu {
    margin: 0%;
    width: 94%;
}

.ui-menu {
    background: linear-gradient(ghostwhite, #CFD6DE);
}

.ui-menu .ui-menu-list .ui-widget-header {
    background: linear-gradient(ghostwhite, #ADC1D6);
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon, .ui-menu .ui-submenu-icon {
    color: #2F4E6F;
    font-size: 0.6em;
    margin-right: 6px;
}

.pt-uploaded-table {
    width: 150px;
    height: 25%;
}

.pt-row-text-cell {
    float: left;
    text-align:start;
}

.ui-datatable tbody.ui-datatable-data {
    font-size: 0.9em;
}

.ui-treetable tbody td {
    border-color: inherit;
    font-size: 0.9em;
}

#setTypeGrid td {
    vertical-align: top;
}

#genOpGrid table tbody td {
    vertical-align: top;
    padding: 0px;
}

#genOpGrid .ui-datagrid-content {
    background: ghostwhite;
    color: ghostwhite;
    border: 0px solid;
}

#genOpGrid .ui-datagrid-data {
    width: 100%;
    border-spacing: 0px;
}

#genOpGrid tr.ui-datagrid-row {
    background:ghostwhite;
}

#genOpGrid .ui-fieldset .ui-fieldset-legend {
    background:linear-gradient(ghostwhite, #ADC1D6);
    width: 115px;
    height: 10px;
    font-size: 0.9em;
}

#genOpGrid .ui-panel .ui-panel-content {
    border: 0px;
    background: 0;
    padding: .0em .1em;
    text-align: left;
}

#genOpGrid .ui-fieldset {
    width: 150px;
    height: 250px;
    border: 1px solid #afacac;
    padding: 0px;
}

#genOpGrid .ui-datagrid-content-empty {
    height:0px;
    padding: 0px;
}

#genOpGrid .ui-button-text-icon-left.ui-state-default {
    background: #F2BC00;
    float: right;
    height: 20px;
    width: 20px;
    padding: 0em 1.1em;
}

.pt-gen-combo {
    background: red;
}